@import url("node_modules/modern-normalize/modern-normalize.css");

h1 {
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

div.container {
  text-align: center;
}

ul.myul {
  display: inline-block;
  text-align: left;
}

body {
  background-image: url("hills.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  margin: 0 auto;
  width: 350px;
  text-align: center;
}

fieldset {
  border: 3px solid black;
  color: red;
}

/* stylelint-disable-next-line selector-id-pattern */
#centerDoc {
  position: absolute;
  padding: 0 0 20px;
  margin-left: 1200px;
  margin-top: -200px;
  text-align: center;
}
